*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 30px 30px 60px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 26px;
  letter-spacing: -0.02em;
}

.title__accent {
  color: #545050;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 711px;
  flex-shrink: 0;
}

.result__video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  padding: 4px 10px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.1s ease;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #545050;
  border-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 11px 32px;
  min-width: 194px;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
}

.content__list::-webkit-scrollbar {
  width: 4px;
  background-color: #545050;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.1s ease;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.content__video-card-description-container {
  flex: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  line-height: 1;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 44px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  flex-shrink: 0;
}

.more-button {
  width: 100%;
  padding: 11px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}